/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: #f1f1f1;
}

.main-navigation {
  border-bottom: 1px solid #333333;
  display: flex;
  background-color: #000000;
}

.logo {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 2em;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #f1f1f1;
  }
}

.nav-items-logo {
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 1.1em;
  display: flex;
}

.nav-items {
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 1.1em;
  display: flex;
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background-color: #313131;
  }
}

.link-nav {
  color: #fff;
  align-items: center;
  justify-content: center;
}

