// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
}

ul {
  padding-left: 0;
  margin-top: 3rem;
}

.welcome-title {
  margin: 5rem 0;
  font-family: Oswald;
  font-size: 5em;
}


.wrapper-articles {
  margin: 3rem 0;
  &:hover {
    background-color: #f8f8f8;
  }
}

.title-sections {
  text-align: center;
  margin: 4rem 0;
}

.title-article {
  font-size: 1.6em;
  margin: 1.3rem 0;
  font-weight: bold;
  color: #333333;
  &:hover {
    text-decoration: none;
  }
}

