// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.wrapper-articles {
  &:hover {
    background-color: #f8f8f8;
  }
}

.title-sections {
  text-align: center;
  margin: 4rem 0;
}

.title-article {
  font-size: 1.8em;
  margin: 1.3rem 0;
  font-weight: 500;
  color: #333333;
  font-family: Oswald;
  &:hover {
    text-decoration: none;
  }
}

pre {
  height: 300px;
}

.banner {
  margin-bottom: 50px;
  background-color: #f2f2f2;
  display: fex;
  h1 {
    color: #333333;
    justify-content: center;
    font-family: Oswald;
    font-weight: 700;
    font-size: 5em;
    padding-top: .8em;
    padding-bottom: .8em;
  }
}

